img {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
}

.markdown-preview-view table {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
}

code {
        white-space : pre-wrap !important;
        word-break: break-word;
}

:root {
--md-primary-fg-color:        #355b4d;
--md-primary-fg-color--light: #4c6e61;
--md-primary-fg-color--dark:  #1c493a;
--md-accent-fg-color:   #4c6e61;
--md-accent-fg-color--transparent: #1c493a;
}